test_run_dir/*
target/
project/project/target
project/target
out/

*~
\#*\#
.\#*

*.v
*.fir
*.anno.json
.bsp/


#cocotb related
cocotb_scala_dir/

.venv/
__pycache__/

sim_build/
htmlcov/
junit.xml
coverage.xml
.coverage
results/
